html,
body {
  height: 100%;
}

body {
  background-color: #f5f5f5;
  color: $black;
  font-size: 14px;
}

main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 70vh;
}

button,
input:not([type="file"]),
textarea,
.fileUpload {
  padding: 7px 10px;
  width: 100%;
  max-width: 320px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  background-color: white;
  color: $black;
  font-weight: 600;
  resize: none;
}

button {
  border: none;
  background-color: $mint;
  color: white;
}

.fileUpload {
  background-color: white;
  margin-bottom: 20px;
}
button,
input[type="submit"] {
  cursor: pointer;
}
