.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  form {
    width: 100%;
    max-width: 320px;
    margin-bottom: 35px;
    input {
      width: 100%;
      padding: 8px 10px;
      border-radius: 4px;
      font-size: 15px;
      font-weight: 600;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.3);
      &::placeholder {
        font-weight: 400;
        color: rgba(0, 0, 0, 0.5);
      }
      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }
    input[type="submit"] {
      background-color: #935774;
      color: white;
    }
  }
}
