.social-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    width: 100%;
    max-width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    span {
      margin-right: 10px;
      font-size: 18px;
    }
  }
  .social-login--github {
    background-color: $black;
    color: white;
  }
  .social-login--facebook {
    background-color: #3a5998;
    color: white;
  }
}
