html,
body {
  height: 100%;
}

body {
  background-color: #f5f5f5;
  color: $black;
  font-size: 14px;
}

main {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  min-height: 70vh;
}

.videoBlock__thumbnail {
  width: 400px;
  height: 250px;
}
