.footer {
  margin: 50px 0;
  padding-top: 50px;
  border-top: 2px solid rgba(0, 0, 0, 0.3);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .footer__icon {
    color: $rose;
    opacity: 0.6;
    font-size: 24px;
    margin-bottom: 10px;
  }
  .footer__text {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
    text-transform: uppercase;
  }
}
