.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  a > button {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.3);
    font-size: 15px;
    padding: 8px 10px;
  }
  form {
    width: 100%;
    max-width: 320px;
    margin-bottom: 35px;
    input:not([type="file"]),
    .fileUpload {
      width: 100%;
      padding: 8px 10px;
      border-radius: 4px;
      font-size: 15px;
      font-weight: 600;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.3);
      &::placeholder {
        font-weight: 400;
        color: rgba(0, 0, 0, 0.5);
      }
      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }
    textarea {
      margin-bottom: 25px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.3);
    }
    input[type="submit"] {
      background-color: $mint;
      color: white;
    }
  }
  .form-container__link--delete,
  .changePassword {
    width: 100%;
    max-width: 320px;
  }
  .form-container__link--delete > button {
    background-color: $rose;
  }
  .changePassword > button {
    background-color: $rose;
  }
  .fileUpload {
    label {
      font-weight: 400;
      margin-right: 10px;
    }
  }
}
