.header {
  background: #aa4b6b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #aa4b6b,
    #6b6b83,
    #3b8d99
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #aa4b6b,
    #6b6b83,
    #3b8d99
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin-bottom: 50px;
  .header__wrapper {
    padding: 4px 0px;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    .header__column {
      i {
        color: white;
        font-size: 40px;
      }
      &:nth-child(2) {
        width: 100%;
        justify-self: center;
      }
      &:last-child {
        justify-self: end;
      }
      ul {
        display: flex;
        color: white;
        text-transform: uppercase;
        font-weight: 600;
        li:not(:last-child) {
          margin-right: 15px;
        }
        li a {
          color: white;
        }
      }
      form {
        width: 100%;
        input {
          width: 100%;
          padding: 8px 10px;
          border-radius: 4px;
          font-size: 15px;
          font-weight: 600;
          &::placeholder {
            font-weight: 400;
            color: rgba(0, 0, 0, 0.5);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  padding: 0px 10px;
  &:nth-child(2) {
    padding: 0;
  }
}
