.home-videos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 30px;
  .videoBlock:first-child,
  .videoBlock:nth-child(2) {
    grid-column: span 3;
  }
  .videoBlock:nth-child(3),
  .videoBlock:nth-child(4),
  .videoBlock:nth-child(5) {
    grid-column: span 2;
  }
}

@media screen and (max-width: 768px) {
  .home-videos {
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    margin: 0px 10px;
    .videoBlock:first-child,
    .videoBlock:nth-child(2) {
      grid-column-start: 1;
      grid-column-end: span 2;
    }
    .videoBlock:nth-child(3),
    .videoBlock:nth-child(4),
    .videoBlock:nth-child(5) {
      grid-column: span 1;
    }
  }
}
